<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listado de Bandas</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <h1><%= texto %></h1>
    <ul>
        <% for(let i = 0; i < listadoBandas.length; i++) { %>
            <li>
                <a href="/bandas/<%= listadoBandas[i].nombre.toLowerCase().replace(/[\s\.\-\/\'\"]/g, '') %>">
                    <h2><%= listadoBandas[i].nombre %></h2>
                </a>
                <img src="<%= listadoBandas[i].cover %>" alt="Imagen de <%= listadoBandas[i].nombre %>" style="width: 150px;">
            </li>
        <% } %>
    </ul>
</body>
</html>
